@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Quicksand:wght@400;500&display=swap');


header{ 
    display: grid;
    grid-template-columns: 100px auto;
    background-color:aqua;
    color: white;
    
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
nav a  {
    text-decoration: none;
}
.logo{
    width: 100%;
}
#missbeltran{
    width: 200px;
    height: 300px;
}
#welcome-msg p{
    width: 500px;
    height: 100px;
}
#introduction-msg{
    width:450px;
    height:300px;
}
#teachers{
    width: 250px;
    height:200px;
}
#teacher-board{
    width:200px;
    height: 150px;
}
body{
    margin: 0;
    padding: 0;
}
#about-me{
    display: grid;
    grid-template-columns: 1fr 3fr ;
}